<p style="color: green"><%= notice %></p>

<h1>Crazy4Cats Posts</h1>
<p>
  <%= link_to "New post", new_post_path, class: "mt-2 btn btn-primary" %>
</p>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
<p>
  <%= link_to "Show this post", post, class: "mt-2 btn btn-primary" %>
</p>

  <% end %>
</div>


